config/.env
config/.env_test
config/app_local.php
config/Migrations/schema-dump-default.lock
.idea/
logs/
tmp/
vendor/admad/
vendor/aura/
vendor/autoload.php
vendor/aws/
vendor/bin/
vendor/cakephp/
vendor/cakephp-app-installer
vendor/cakephp-plugins.php
vendor/commerceguys/
vendor/composer/
vendor/dereuromark/
vendor/dnoegel/
vendor/doctrine/
vendor/elboletaire/
vendor/empty
vendor/fakerphp
vendor/firebase/
vendor/friendsofcake/
vendor/giggsey/
vendor/guzzlehttp/
vendor/jakub-onderka/
vendor/jdorn/
vendor/josegonzalez/
vendor/justinrainbow/
vendor/laminas/
vendor/league/
vendor/m1/
vendor/mobiledetect/
vendor/mtdowling/
vendor/muffin/
vendor/myclabs/
vendor/nikic/
vendor/oyejorge/
vendor/ozee31/
vendor/paragonie/
vendor/phpdocumentor/
vendor/phpspec/
vendor/phpunit/
vendor/psr/
vendor/psy/
vendor/ralouphie/
vendor/react/
vendor/robmorgan/
vendor/sebastian/
vendor/seld/
vendor/soundasleep/
vendor/stripe/
vendor/symfony/
vendor/trentrichardson/
vendor/vierge-noire/
vendor/webmozart/
vendor/zendframework/
vendor/zuluru/cakephp-bootstrap/
vendor/zuluru/cakephp-jquery/
webroot/bootstrap
webroot/bootstrap_u_i
webroot/debug_kit
webroot/files
webroot/less
plugins/
