<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="tests/bootstrap.php"
    >
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
    </php>

    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="app">
            <directory>tests/TestCase/</directory>
        </testsuite>
        <!-- Add plugin test suites here. -->
        <testsuite name="Chase">
            <directory>plugins/Chase/tests/TestCase/</directory>
        </testsuite>
        <testsuite name="Elavon">
            <directory>plugins/Elavon/tests/TestCase/</directory>
        </testsuite>
        <testsuite name="Javelin">
            <directory>plugins/Javelin/tests/TestCase/</directory>
        </testsuite>
        <testsuite name="PayPal">
            <directory>plugins/PayPal/tests/TestCase/</directory>
        </testsuite>
        <testsuite name="Stripe">
            <directory>plugins/Stripe/tests/TestCase/</directory>
        </testsuite>
    </testsuites>

    <!-- Load extension for fixtures -->
    <extensions>
        <extension class="\Cake\TestSuite\Fixture\PHPUnitExtension" />
    </extensions>
</phpunit>
